<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    Bov Academy :: HTML & CSS Project Assignment - Signup
  </title>
  <meta name="description"
        content="Bov Academy :: HTML & CSS Project Assignment
                 - Signup">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- External CSS -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:400,300italic">
  <link rel="stylesheet" href="css/project_4_signup.css">

  <!-- JavaScript -->
  <script src="js/validator.js"></script>
  <script src="js/project_4_signup_validation.js"> </script>
</head>
<body>

  <div class="sign-up" ng-app="signUp" ng-controller="signup_controller">
    <h2 class="sign-up__header">Sign Up</h2>

    <form ng-submit="signupForm.$valid && submit()" id="signupForm" name="signupForm">
        <label class="sign-up__label" for="firstName">
          First Name
        </label>
        <input class="sign-up__input"
               id="firstName"
               name="firstName"
               type="text"
               ng-model="user.firstName"
               required>
        <label class="sign-up__label" for="LastName">
          Last Name
        </label>
        <input class="sign-up__input"
               id="lastName"
               name="lastName"
               type="text"
               ng-model="user.lastName"
               required>
        <label class="sign-up__label" for="email">
          Email address
        </label>
        <input class="sign-up__input"
               id="email"
               name="email"
               type="email"
               ng-model="user.email"
               required>
        <label class="sign-up__label" for="birthD">
          Birth Date
        </label>
        <input class="sign-up__input"
               id="birthD"
               name="birthD"
               type="text"
               ng-model="user.birthDate"
               required>
        <label class="sign-up__label" for="password">
          Password
        </label>
        <input class="sign-up__input"
               id="password"
               name="password"
               type="password"
               ng-model="user.password"
               required>
        <button class="sign-up__submit" type="submit">Sign Up</button>
    </form>

    <p class="finalMsg" ng-bind-html="finalMsg"></p>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script>
      (function () {
          'use strict';

          angular
          .module('signUp', [])
          .controller('signup_controller', ['$scope', '$sce', '$http', signUpHandler]);

          function signUpHandler($scope, $sce, $http) {

              $scope.user = {};

              $scope.submit = function () {
                  $http.post('../../create_account', $scope.user).success(function (response) {
                      signupForm.setAttribute('style', 'visibility:hidden');
                      $scope.finalMsg = $sce.trustAsHtml(response.data);
                  });
              };
          }

      }());
  </script>

</body>
</html>